

html{
    overflow-x: hidden;
     width:100%;

     
}

body{
    background-image: url('../img/fondo_1.jpg');

}
 
nav {
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
    background-color: #4F7B80 !important;
    color:white !important;
}

.font-oswald {
    font-family: 'Boogaloo', cursive;
    font-size: 16px;
    color: rgb(25, 50, 71)!important;
    margin:0 0 0 0!important;
    padding:0 0 0 0!important;
     
}

.size-icon {
    font-size: 18px!important;
     color: rgb(25, 50, 71) !important;
    margin: 2px 2px 2px 2px;
}

.inicio {
    background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

nav li:hover {
    background: #ec7846;
    color:black;
    
}

.central-content {
    justify-content: center;
     margin: auto;
}

.logo_central{
    justify-content: center;
    display: block;
     margin: auto;
}
.categories{
    margin: 1px 3px 1px 3px;
}

 .categories_1:hover{
    background: rgb(255, 102, 0)!important;
    color: blue;
}

.imagen:hover {
    
    filter: grayscale(100%);
 
}

.xapa{
    filter: grayscale(100%);

}
 
 


.buscador{
    background-color: #4F7B80 !important;

}

.title-search{
    font-family: 'Lilita One', cursive;

}

.buscador input{
    font-family: 'Patrick Hand', cursive;
    font-size: 18px;

}

.patrick{
    font-family: 'Bebas Neue', cursive;
    font-size: 55px;
    color: rgb(228, 227, 227) !important;
    -webkit-text-stroke: 1px rgb(80, 120, 124);

}